<article class="post">
    {{> post-info post}}
    <form class="comment-form">
        <div>
            <textarea name="comment-body"></textarea>
        </div>
        {{#if loggedIn}}
        <div>
            <button type="submit">add comment</button>
            <button type="button" class="upvote-btn">upvote</button>
        </div>
        {{/if}}
    </form>
    {{> comments post.comments}}
</article>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}